<h1>Heros' Hall</h1>
<% @heros.each do |hero| %>
 <p>
  <a href="<%= hero_path(hero) %>"><strong><%= hero.name %></strong></a><br><%= hero.role %>, <%= hero.attact_type %><br>
 </p>
 <img src="<%= hero.url %>"/>
<% end %>
